Repository naovich/vibecoding: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run, node scripts/check-unused-deps.js

fix: add json-summary reporter for coverage validation
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: add SonarJS quality rules and TDD/feature-folder guidelines
  AGENT.md
  README.md
  eslint.config.js
  package.json
Due: prettier --write, node scripts/check-unused-deps.js

refactor: simplify feature-based structure, remove features/ parent folder
  AGENT.md
  README.md
Due: prettier --write

docs: add complete SonarQube configuration guide
  SONARQUBE.md
  eslint.config.js
Due: prettier --write

feat: transform to Vite + React + TypeScript project
  .lintstagedrc.json
  .prettierignore
  SONARQUBE.md
  eslint.config.js
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.test.ts
  src/index.ts
  src/main.tsx
  src/test/setup.ts
  src/utils/greet.test.ts
  src/utils/greet.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest related --run, node scripts/check-unused-deps.js

feat: add file tree generator to pre-commit hook
  .husky/pre-commit
  FILE_TREE.md
  package.json
  scripts/generate-tree.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: add vite-env.d.ts with CSS module declaration
  FILE_TREE.md
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: add Tailwind CSS latest version
  FILE_TREE.md
  package.json
  postcss.config.js
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  tailwind.config.js
Due: prettier --write, node scripts/check-unused-deps.js

fix: use @tailwindcss/postcss plugin for Tailwind v4
  package.json
  postcss.config.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: add CSS theme variables with custom design tokens
  FILE_TREE.md
  THEME.md
  src/App.test.tsx
  src/App.tsx
  src/index.css
Due: prettier --write

test: add hover effect tests to reach 100% coverage
  src/App.test.tsx
Due: none

fix(core): remove baseUrl
  FILE_TREE.md
  tsconfig.json
Due: prettier --write

fix(core): husky warning
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: add Tailwind v4 canonical syntax checker
  .husky/pre-commit
  FILE_TREE.md
  package.json
  scripts/check-tailwind-syntax.js
  src/App.tsx
Due: prettier --write, node scripts/check-unused-deps.js

docs: add Tailwind v4 canonical syntax guide
  FILE_TREE.md
  docs/TAILWIND_CANONICAL_SYNTAX.md
Due: prettier --write

refactor: remove inline styles, use Tailwind classes with theme variables
  src/App.test.tsx
  src/App.tsx
Due: none

fix: use canonical Tailwind v4 syntax for @theme variables
  scripts/check-tailwind-syntax.js
  src/App.tsx
Due: none

refactor: replace custom Tailwind script with eslint-plugin-better-tailwindcss
  .husky/pre-commit
  FILE_TREE.md
  eslint.config.js
  package.json
  scripts/check-tailwind-syntax.js
Due: prettier --write, node scripts/check-unused-deps.js

refactor: consolidate all code quality checks into ESLint
  .husky/pre-commit
  FILE_TREE.md
  eslint.config.js
  package.json
  scripts/check-file-size.js
  scripts/check-no-any.js
  src/App.tsx
Due: prettier --write, node scripts/check-unused-deps.js

chore: remove unused check-unused-deps.js placeholder script
  .lintstagedrc.json
  FILE_TREE.md
  scripts/check-unused-deps.js
Due: prettier --write

feat: add import management and async/await linting
  FILE_TREE.md
  eslint.config.js
  package.json
  src/App.test.tsx
  src/main.tsx
Due: prettier --write, node scripts/check-unused-deps.js

feat: enable additional SonarJS code quality rules
  eslint.config.js
Due: none

docs(agent): add comprehensive React, CSS, and code reusability guidelines
  AGENT.md
Due: prettier --write

docs: add CLAUDE.md as entry point for Claude Code CLI
  CLAUDE.md
  FILE_TREE.md
Due: prettier --write

docs: simplify CLAUDE.md (remove repetition)
  CLAUDE.md
Due: prettier --write

docs: improve CLAUDE.md with better context
  CLAUDE.md
Due: prettier --write

docs: simplify CLAUDE.md to minimal style (like openclaw)
  CLAUDE.md
Due: prettier --write

docs: add title to CLAUDE.md
  CLAUDE.md
Due: prettier --write

feat: add codebase map generator for AI-assisted development
  .husky/pre-commit
  CLAUDE.md
  CODEBASE.md
  FILE_TREE.md
  package.json
  scripts/generate-codebase-map.js
  scripts/utils/markdown-builder.js
  scripts/utils/typescript-parser.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: add AI enrichment and JSDoc enforcement for CODEBASE.md
  AGENT.md
  FILE_TREE.md
  eslint.config.js
  package.json
  scripts/generate-codebase-map.js
  scripts/utils/ai-enricher.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: amélioration du script de génération de docs
  FILE_TREE.md
  PROJECT_STRUCTURE.md
  scripts/generate-docs.ts
Due: eslint --fix, prettier --write, vitest related --run

docs: ajout documentation du script generate-docs
  FILE_TREE.md
  docs/generate-docs.md
Due: prettier --write

fix: utilisation de chemins relatifs dans CODEBASE.md
  CODEBASE.md
  scripts/generate-codebase-map.js
Due: prettier --write

fix: amélioration de l'enrichissement AI (--ai)
  scripts/utils/ai-enricher.js
Due: none

fix: normalisation des chemins pour compatibilité cross-platform
  PROJECT_STRUCTURE.md
  scripts/generate-codebase-map.js
  scripts/generate-docs.ts
  scripts/utils/markdown-builder.js
Due: eslint --fix, prettier --write, vitest related --run

feat: ajout règles SonarLint/Unicorn dans AGENT.md et ESLint
  AGENT.md
  eslint.config.js
  package.json
Due: prettier --write, node scripts/check-unused-deps.js

fix: support Windows pour Claude Code (mode --ai)
  scripts/utils/ai-enricher.js
Due: none

refactor: simplification ai-enricher (utilise PATH directement)
  scripts/utils/ai-enricher.js
Due: none

fix: message d'erreur neutre quand Claude Code absent
  FILE_TREE.md
  scripts/utils/ai-enricher.js
Due: prettier --write

fix: messages clairs selon le résultat de l'enrichissement AI
  FILE_TREE.md
  scripts/utils/ai-enricher.js
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  vitest related --run: any of: *.ts
  node scripts/check-unused-deps.js: any of: package.json
