Repository naovich/vibecoding: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run, node scripts/check-unused-deps.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "vitest related --run"],
  "*.{json,md,css}": ["prettier --write"],
  "package.json": ["node scripts/check-unused-deps.js"]
}

chore: ajout logging détaillé pour mode --ai
  scripts/utils/ai-enricher.js
Due: none

chore: affiche process.argv pour diagnostiquer --ai sur Windows
  FILE_TREE.md
  scripts/generate-codebase-map.js
Due: prettier --write

fix: ajout script map:ai pour contourner problème Windows npm
  .tmp-ai-prompt.txt
  package.json
  scripts/generate-codebase-map.js
  scripts/utils/ai-enricher.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: wrapper cross-platform pour npm run map -- --ai
  FILE_TREE.md
  docs/generate-codebase-map.md
  docs/generate-docs.md
  package.json
  scripts/map.js
Due: prettier --write, node scripts/check-unused-deps.js

chore: log arguments reçus par le wrapper map.js
  scripts/map.js
Due: none

fix: solution cross-platform pour mode AI (sans packages externes)
  FILE_TREE.md
  package.json
  scripts/generate-codebase-map.js
  scripts/map-ai.js
  scripts/map.js
Due: prettier --write, node scripts/check-unused-deps.js

feat: utilisation de cross-env pour mode AI cross-platform
  FILE_TREE.md
  docs/generate-codebase-map.md
  docs/generate-docs.md
  package.json
  scripts/map-ai.js
Due: prettier --write, node scripts/check-unused-deps.js

fix: application des règles ESLint (unicorn) aux scripts/
  eslint.config.js
  scripts/enforce-coverage.js
  scripts/generate-codebase-map.js
  scripts/generate-tree.js
  scripts/utils/ai-enricher.js
  scripts/utils/markdown-builder.js
  scripts/utils/typescript-parser.js
Due: none

feat: ajout règles SonarJS/Unicorn supplémentaires (S4138, S7773, radix)
  AGENT.md
  eslint.config.js
Due: prettier --write

feat: ajout règle unicorn/prefer-top-level-await (S7785)
  AGENT.md
  eslint.config.js
Due: prettier --write

fix: application des règles unicorn à TOUS les scripts JS
  eslint.config.js
  scripts/generate-codebase-map.js
  scripts/generate-tree.js
Due: none

fix: correction npm run lint et warnings bloquants
  .lintstagedrc.json
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write, vitest related --run, node scripts/check-unused-deps.js

feat: extraction JSDoc dans CODEBASE.md pour composants React
  CODEBASE.md
  scripts/utils/typescript-parser.js
Due: prettier --write

chore: ajout logging détaillé pour extraction JSDoc
  scripts/utils/typescript-parser.js
Due: none

chore: suppression logs debug extraction JSDoc
  scripts/utils/typescript-parser.js
Due: none

feat: enforcement LF (Unix) line endings partout
  .gitattributes
  .prettierrc
  AGENT.md
  FILE_TREE.md
  eslint.config.js
  scripts/utils/typescript-parser.js
Due: prettier --write

fix(chore): remove temporary AI prompt file
  .tmp-ai-prompt.txt
  FILE_TREE.md
Due: prettier --write

refactor: suppression PROJECT_STRUCTURE.md + ajout README complet
  FILE_TREE.md
  PROJECT_STRUCTURE.md
  README.md
  docs/generate-docs.md
  scripts/generate-docs.ts
Due: eslint --fix, prettier --write, vitest related --run

fix: ordre hook pre-commit - docs après lint/type-check
  .husky/pre-commit
  CODEBASE.md
  FILE_TREE.md
Due: prettier --write

docs: Claude doit lire FILE_TREE.md pour structure
  CLAUDE.md
Due: prettier --write

docs: agents doivent lire README, FILE_TREE et CODEBASE
  AGENT.md
  CLAUDE.md
Due: prettier --write

docs: intégration Tailwind v4 canonical syntax dans AGENT.md + suppression dossier docs
  AGENT.md
  FILE_TREE.md
  docs/TAILWIND_CANONICAL_SYNTAX.md
  docs/generate-codebase-map.md
Due: prettier --write

docs: intégration Tailwind v4 canonical syntax dans AGENT.md + suppression dossier docs
  AGENT.md
  FILE_TREE.md
  THEME.md
  docs/TAILWIND_CANONICAL_SYNTAX.md
  docs/generate-codebase-map.md
Due: prettier --write

docs: clarification template de base + code review complète + roadmap
  CODE_REVIEW.md
  FILE_TREE.md
  README.md
Due: prettier --write

docs: clarification - template minimal avec guardrails, pas starter kit
  CODE_REVIEW.md
  FILE_TREE.md
  README.md
Due: prettier --write

fix(core): overrides minimatchs
  CODEBASE.md
  FILE_TREE.md
  package.json
Due: prettier --write, node scripts/check-unused-deps.js

fix(styles): remove custom spacing variables colliding with tailwind v4
  src/index.css
Due: prettier --write

fix(deps): commit package-lock.json and upgrade glob to v13
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, node scripts/check-unused-deps.js

fix(lint): apply security rules to config files and block eval equivalents
  eslint.config.js
  tsconfig.node.json
Due: prettier --write

fix(security): add CSP and security headers in Vite config
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run

fix(scripts): secure temp file handling in ai-enricher
  scripts/utils/ai-enricher.js
Due: none

fix(scripts): validate --output path and coverage JSON structure
  scripts/enforce-coverage.js
  scripts/generate-tree.js
Due: none

fix(security): split CSP between dev and preview environments
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run

chore(docs): update auto-generated FILE_TREE and CODEBASE timestamps
  CODEBASE.md
  FILE_TREE.md
Due: prettier --write

feat(e2e): add Playwright with smoke test and pre-push integration
  .gitignore
  .husky/pre-push
  FILE_TREE.md
  e2e/app.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.e2e.json
  tsconfig.node.json
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest related --run, node scripts/check-unused-deps.js
